<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quakes Now</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-frontpage.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Quakes Now</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Earthquake info at your fingertips.</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>What We Do</h2>
                <p>Some 80 percent of all the planet's earthquakes occur along the rim of the Pacific Ocean,
                  called the "Ring of Fire" because of the preponderance of volcanic activity there as well.
                  Most earthquakes occur at fault zones, where tectonic plates—giant rock slabs that make up the Earth's upper layer—collide or slide against each other.
                  These impacts are usually gradual and unnoticeable on the surface; however, immense stress can build up between plates.
                  When this stress is released quickly, it sends massive vibrations, called seismic waves, often hundreds of miles through the rock and up to the surface.
                  Other quakes can occur far from faults zones when plates are stretched or squeezed.</p>
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                <address>
                    <strong>Quakes Now</strong>
                    <br>Right in the Middle
                    <br>Indianapolis, Indiana
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>(123) 867-5309
                    <br>
                    <abbr title="Email">E:</abbr> <a href="mailto:#">boilerhack@purdue.edu</a>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <hr>
        <div id="visualization"></div>

        <div class="row">
          <% @earthquakes.sample(3).each do |quake| %>
            <div class="col-sm-4">
                <%= link_to image_tag( quake_images, class: "img-circle img-responsive img-center") %>
                <h2 style="font-size:22px"><%= quake["place"] %></h2>
                <p><b>Depth:</b> <%= quake["depth"] %>, <b>Mag: </b><%= quake["mag"] %>, <b>Magtype:</b> <%= quake["magType"] %>, <b>Gap:</b> <%= quake["gap"] %>, <b>Dmin:</b> <%= quake["dmin"] %>, <b>Rms:</b> <%= quake["rms"] %></p>
            </div>
            <% end %>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Quakes Now 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
